/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #f39c12;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
}



nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f39c12;
    border-radius: 5px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* Heading */


/* Product Grid */
.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Product Card */
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 20px;
    color: #2c3e50;
    margin: 15px 0 10px;
}

.product-card p {
    font-size: 16px;
    color: #555;
    margin: 0 10px 10px;
}
.pdf-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.pdf-link:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 90%;
    }
}
